<div class="video-block section-padding">
    <div class="main-items">
        <div class="row justify-content-md-center">
            <div class="messages text-center col-md-12">
                Help
                <hr>
            </div>																														
        </div>
        <div class="my-all-lisitngs">
            <div class="row justify-content-md-center">
                <div class="col-lg-10 col-sm-12">
                    <div class="help-tabs">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#" role="tab" aria-controls="web" aria-selected="true">Web</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#" role="tab" aria-controls="android" aria-selected="false">Android</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#" role="tab" aria-controls="iphone" aria-selected="false">Iphone and Ipad</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane show active" id="web" role="tabpanel">
                                <div class="help-faq">
                                    <div class="faq-items">
                                        <button class="help-accordion">Get Started</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Add Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Search Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Change Logo & Cover Images</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Promotions</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Saved Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Map Lisiting</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>															
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="android" role="tabpanel">
                                <div class="help-faq">
                                    <div class="faq-items">
                                        <button class="help-accordion">Get Started</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Add Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Search Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Change Logo & Cover Images</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Promotions</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Saved Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Map Lisiting</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>															
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="iphone" role="tabpanel">
                                <div class="help-faq">
                                    <div class="faq-items">
                                        <button class="help-accordion">Get Started</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Add Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Search Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Change Logo & Cover Images</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Promotions</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Saved Listing</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>
                                        <button class="help-accordion">Map Lisiting</button>
                                        <div class="panel" style="display: none;">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce consequat metus ac sollicitudin suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc non erat ultrices nibh pellentesque tincidunt. Praesent congue porta volutpat. Suspendisse et felis vel justo efficitur aliquet a a mauris. Cras pulvinar tellus pellentesque, fringilla enim sed, tristique ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur nisl sem, gravida pulvinar est vel, rutrum egestas augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vitae mauris egestas, maximus nunc eget, eleifend nibh. Proin posuere urna ac ante ullamcorper, a congue magna semper. Nullam sit amet est suscipit, maximus libero sit amet, feugiat neque. Integer sed facilisis velit.</p>
                                        </div>															
                                    </div>
                                </div>													
                            </div>
                        </div>
                    </div>
                </div>
            </div>									
        </div>
    </div>
</div>
<script>
	var acc = document.getElementsByClassName("help-accordion");
	var i;
	
	for(i = 0; i < acc.length; i++){
		acc[i].addEventListener("click", function(){
		this.classList.toggle("active");
		
			var panel = this.nextElementSibling;
			if(panel.style.display === "block"){
				panel.style.display = "none";
			} else {
				panel.style.display ="block";
			}
		});
	}
		
	</script>