

<div class="video-block section-padding">
						<div class="main-items">
							<div class="row">
								<div class="messages text-center col-md-12">
								submit a listing
								<hr>
								</div>	
								<div class="listing-uploading">
										<h3>01. Places &amp; Events</h3>
										<div class="col-md-6 col-xs-12">
											<a asp-action="UPlace" asp-controller="Listing" asp-route-category="Places_Events">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="22" height="24" class="upload" viewBox="0 0 22 24">
														<path d="M15.000,10.171 L15.000,9.000 C15.000,8.448 14.552,8.000 14.000,8.000 C13.447,8.000 13.000,7.552 13.000,7.000 L13.000,5.000 C13.000,4.448 12.552,4.000 12.000,4.000 L10.000,4.000 C9.448,4.000 9.000,4.448 9.000,5.000 L9.000,7.000 C9.000,7.552 8.552,8.000 8.000,8.000 C7.448,8.000 7.000,8.448 7.000,9.000 L7.000,13.171 C8.165,13.582 9.000,14.694 9.000,16.000 L9.000,22.000 L13.000,22.000 L13.000,13.000 C13.000,11.694 13.835,10.582 15.000,10.171 ZM17.000,10.000 L19.000,10.000 C20.657,10.000 22.000,11.343 22.000,13.000 L22.000,22.000 C22.000,23.105 21.105,24.000 20.000,24.000 L14.250,24.000 L7.750,24.000 L2.000,24.000 C0.895,24.000 -0.000,23.105 -0.000,22.000 L-0.000,16.000 C-0.000,14.343 1.343,13.000 3.000,13.000 L5.000,13.000 L5.000,9.000 C5.000,7.694 5.835,6.582 7.000,6.171 L7.000,5.000 C7.000,3.343 8.343,2.000 10.000,2.000 L10.000,1.000 C10.000,0.448 10.448,-0.000 11.000,-0.000 C11.552,-0.000 12.000,0.448 12.000,1.000 L12.000,2.000 C13.657,2.000 15.000,3.343 15.000,5.000 L15.000,6.171 C16.165,6.582 17.000,7.694 17.000,9.000 L17.000,10.000 ZM7.000,16.000 C7.000,15.448 6.552,15.000 6.000,15.000 L3.000,15.000 C2.448,15.000 2.000,15.448 2.000,16.000 L2.000,22.000 L7.000,22.000 L7.000,16.000 ZM3.500,21.000 C2.948,21.000 2.500,20.552 2.500,20.000 C2.500,19.448 2.948,19.000 3.500,19.000 L5.500,19.000 C6.052,19.000 6.500,19.448 6.500,20.000 C6.500,20.552 6.052,21.000 5.500,21.000 L3.500,21.000 ZM3.500,18.000 C2.948,18.000 2.500,17.552 2.500,17.000 C2.500,16.448 2.948,16.000 3.500,16.000 L5.500,16.000 C6.052,16.000 6.500,16.448 6.500,17.000 C6.500,17.552 6.052,18.000 5.500,18.000 L3.500,18.000 ZM15.000,22.000 L20.000,22.000 L20.000,13.000 C20.000,12.448 19.552,12.000 19.000,12.000 L16.000,12.000 C15.448,12.000 15.000,12.448 15.000,13.000 L15.000,22.000 ZM16.500,18.000 C15.948,18.000 15.500,17.552 15.500,17.000 C15.500,16.448 15.948,16.000 16.500,16.000 L18.500,16.000 C19.052,16.000 19.500,16.448 19.500,17.000 C19.500,17.552 19.052,18.000 18.500,18.000 L16.500,18.000 ZM16.500,21.000 C15.948,21.000 15.500,20.552 15.500,20.000 C15.500,19.448 15.948,19.000 16.500,19.000 L18.500,19.000 C19.052,19.000 19.500,19.448 19.500,20.000 C19.500,20.552 19.052,21.000 18.500,21.000 L16.500,21.000 ZM16.500,15.000 C15.948,15.000 15.500,14.552 15.500,14.000 C15.500,13.448 15.948,13.000 16.500,13.000 L18.500,13.000 C19.052,13.000 19.500,13.448 19.500,14.000 C19.500,14.552 19.052,15.000 18.500,15.000 L16.500,15.000 Z"></path>
													</svg>
													<br>
													Place
												</div>
											</a>
										</div>
										<div class="col-md-6 col-xs-12">
											<a asp-action="UPlace" asp-controller="Listing"  asp-route-category="Places_Events">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="21" height="21" class="upload" viewBox="0 0 21 21">
														<path d="M8.000,8.713 L8.000,15.920 C8.000,16.037 7.980,16.149 7.944,16.253 C7.981,16.473 8.000,16.699 8.000,16.929 C8.000,19.158 6.209,20.965 4.000,20.965 C1.791,20.965 -0.000,19.158 -0.000,16.929 C-0.000,14.700 1.791,12.893 4.000,12.893 C4.728,12.893 5.412,13.089 6.000,13.433 L6.000,7.863 C6.000,7.851 6.000,7.840 6.000,7.829 L6.000,5.399 C6.000,3.407 7.440,1.712 9.392,1.409 L16.392,0.322 C18.575,-0.016 20.617,1.495 20.953,3.698 C20.984,3.901 21.000,4.107 21.000,4.312 L21.000,5.813 C21.000,5.825 21.000,5.836 21.000,5.847 L21.000,13.902 C21.000,14.018 20.980,14.131 20.944,14.235 C20.981,14.455 21.000,14.680 21.000,14.911 C21.000,17.140 19.209,18.947 17.000,18.947 C14.791,18.947 13.000,17.140 13.000,14.911 C13.000,12.681 14.791,10.874 17.000,10.874 C17.728,10.874 18.411,11.071 19.000,11.414 L19.000,7.005 L8.000,8.713 ZM8.000,6.671 L19.000,4.963 L19.000,4.312 C19.000,4.209 18.992,4.107 18.976,4.005 C18.809,2.903 17.787,2.148 16.696,2.317 L9.696,3.404 C8.720,3.555 8.000,4.403 8.000,5.399 L8.000,6.671 ZM4.000,18.947 C5.104,18.947 6.000,18.044 6.000,16.929 C6.000,15.814 5.104,14.911 4.000,14.911 C2.895,14.911 2.000,15.814 2.000,16.929 C2.000,18.044 2.895,18.947 4.000,18.947 ZM17.000,16.929 C18.104,16.929 19.000,16.025 19.000,14.911 C19.000,13.796 18.104,12.893 17.000,12.893 C15.895,12.893 15.000,13.796 15.000,14.911 C15.000,16.025 15.895,16.929 17.000,16.929 Z"></path>
													</svg>
													<br>
														Event
												</div>
											</a>
										</div>
								</div>
								<div class="listing-uploading">
										<h3>02. Real Estate</h3>
										<div class="col-md-6 col-xs-12">
											<a asp-action="UPlace" asp-controller="Listing" asp-route-category="Real_Estate">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="22" height="24" class="upload" viewBox="0 0 22 24">
														<path d="M15.000,10.171 L15.000,9.000 C15.000,8.448 14.552,8.000 14.000,8.000 C13.447,8.000 13.000,7.552 13.000,7.000 L13.000,5.000 C13.000,4.448 12.552,4.000 12.000,4.000 L10.000,4.000 C9.448,4.000 9.000,4.448 9.000,5.000 L9.000,7.000 C9.000,7.552 8.552,8.000 8.000,8.000 C7.448,8.000 7.000,8.448 7.000,9.000 L7.000,13.171 C8.165,13.582 9.000,14.694 9.000,16.000 L9.000,22.000 L13.000,22.000 L13.000,13.000 C13.000,11.694 13.835,10.582 15.000,10.171 ZM17.000,10.000 L19.000,10.000 C20.657,10.000 22.000,11.343 22.000,13.000 L22.000,22.000 C22.000,23.105 21.105,24.000 20.000,24.000 L14.250,24.000 L7.750,24.000 L2.000,24.000 C0.895,24.000 -0.000,23.105 -0.000,22.000 L-0.000,16.000 C-0.000,14.343 1.343,13.000 3.000,13.000 L5.000,13.000 L5.000,9.000 C5.000,7.694 5.835,6.582 7.000,6.171 L7.000,5.000 C7.000,3.343 8.343,2.000 10.000,2.000 L10.000,1.000 C10.000,0.448 10.448,-0.000 11.000,-0.000 C11.552,-0.000 12.000,0.448 12.000,1.000 L12.000,2.000 C13.657,2.000 15.000,3.343 15.000,5.000 L15.000,6.171 C16.165,6.582 17.000,7.694 17.000,9.000 L17.000,10.000 ZM7.000,16.000 C7.000,15.448 6.552,15.000 6.000,15.000 L3.000,15.000 C2.448,15.000 2.000,15.448 2.000,16.000 L2.000,22.000 L7.000,22.000 L7.000,16.000 ZM3.500,21.000 C2.948,21.000 2.500,20.552 2.500,20.000 C2.500,19.448 2.948,19.000 3.500,19.000 L5.500,19.000 C6.052,19.000 6.500,19.448 6.500,20.000 C6.500,20.552 6.052,21.000 5.500,21.000 L3.500,21.000 ZM3.500,18.000 C2.948,18.000 2.500,17.552 2.500,17.000 C2.500,16.448 2.948,16.000 3.500,16.000 L5.500,16.000 C6.052,16.000 6.500,16.448 6.500,17.000 C6.500,17.552 6.052,18.000 5.500,18.000 L3.500,18.000 ZM15.000,22.000 L20.000,22.000 L20.000,13.000 C20.000,12.448 19.552,12.000 19.000,12.000 L16.000,12.000 C15.448,12.000 15.000,12.448 15.000,13.000 L15.000,22.000 ZM16.500,18.000 C15.948,18.000 15.500,17.552 15.500,17.000 C15.500,16.448 15.948,16.000 16.500,16.000 L18.500,16.000 C19.052,16.000 19.500,16.448 19.500,17.000 C19.500,17.552 19.052,18.000 18.500,18.000 L16.500,18.000 ZM16.500,21.000 C15.948,21.000 15.500,20.552 15.500,20.000 C15.500,19.448 15.948,19.000 16.500,19.000 L18.500,19.000 C19.052,19.000 19.500,19.448 19.500,20.000 C19.500,20.552 19.052,21.000 18.500,21.000 L16.500,21.000 ZM16.500,15.000 C15.948,15.000 15.500,14.552 15.500,14.000 C15.500,13.448 15.948,13.000 16.500,13.000 L18.500,13.000 C19.052,13.000 19.500,13.448 19.500,14.000 C19.500,14.552 19.052,15.000 18.500,15.000 L16.500,15.000 Z"></path>
													</svg>
													<br>
													Sell
												</div>
											</a>
										</div>
										<div class="col-md-6 col-xs-12">
											<a asp-action="UPlace" asp-controller="Listing" asp-route-category="Real_Estate">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="22" height="24" class="upload" viewBox="0 0 22 24">
														<path d="M15.000,10.171 L15.000,9.000 C15.000,8.448 14.552,8.000 14.000,8.000 C13.447,8.000 13.000,7.552 13.000,7.000 L13.000,5.000 C13.000,4.448 12.552,4.000 12.000,4.000 L10.000,4.000 C9.448,4.000 9.000,4.448 9.000,5.000 L9.000,7.000 C9.000,7.552 8.552,8.000 8.000,8.000 C7.448,8.000 7.000,8.448 7.000,9.000 L7.000,13.171 C8.165,13.582 9.000,14.694 9.000,16.000 L9.000,22.000 L13.000,22.000 L13.000,13.000 C13.000,11.694 13.835,10.582 15.000,10.171 ZM17.000,10.000 L19.000,10.000 C20.657,10.000 22.000,11.343 22.000,13.000 L22.000,22.000 C22.000,23.105 21.105,24.000 20.000,24.000 L14.250,24.000 L7.750,24.000 L2.000,24.000 C0.895,24.000 -0.000,23.105 -0.000,22.000 L-0.000,16.000 C-0.000,14.343 1.343,13.000 3.000,13.000 L5.000,13.000 L5.000,9.000 C5.000,7.694 5.835,6.582 7.000,6.171 L7.000,5.000 C7.000,3.343 8.343,2.000 10.000,2.000 L10.000,1.000 C10.000,0.448 10.448,-0.000 11.000,-0.000 C11.552,-0.000 12.000,0.448 12.000,1.000 L12.000,2.000 C13.657,2.000 15.000,3.343 15.000,5.000 L15.000,6.171 C16.165,6.582 17.000,7.694 17.000,9.000 L17.000,10.000 ZM7.000,16.000 C7.000,15.448 6.552,15.000 6.000,15.000 L3.000,15.000 C2.448,15.000 2.000,15.448 2.000,16.000 L2.000,22.000 L7.000,22.000 L7.000,16.000 ZM3.500,21.000 C2.948,21.000 2.500,20.552 2.500,20.000 C2.500,19.448 2.948,19.000 3.500,19.000 L5.500,19.000 C6.052,19.000 6.500,19.448 6.500,20.000 C6.500,20.552 6.052,21.000 5.500,21.000 L3.500,21.000 ZM3.500,18.000 C2.948,18.000 2.500,17.552 2.500,17.000 C2.500,16.448 2.948,16.000 3.500,16.000 L5.500,16.000 C6.052,16.000 6.500,16.448 6.500,17.000 C6.500,17.552 6.052,18.000 5.500,18.000 L3.500,18.000 ZM15.000,22.000 L20.000,22.000 L20.000,13.000 C20.000,12.448 19.552,12.000 19.000,12.000 L16.000,12.000 C15.448,12.000 15.000,12.448 15.000,13.000 L15.000,22.000 ZM16.500,18.000 C15.948,18.000 15.500,17.552 15.500,17.000 C15.500,16.448 15.948,16.000 16.500,16.000 L18.500,16.000 C19.052,16.000 19.500,16.448 19.500,17.000 C19.500,17.552 19.052,18.000 18.500,18.000 L16.500,18.000 ZM16.500,21.000 C15.948,21.000 15.500,20.552 15.500,20.000 C15.500,19.448 15.948,19.000 16.500,19.000 L18.500,19.000 C19.052,19.000 19.500,19.448 19.500,20.000 C19.500,20.552 19.052,21.000 18.500,21.000 L16.500,21.000 ZM16.500,15.000 C15.948,15.000 15.500,14.552 15.500,14.000 C15.500,13.448 15.948,13.000 16.500,13.000 L18.500,13.000 C19.052,13.000 19.500,13.448 19.500,14.000 C19.500,14.552 19.052,15.000 18.500,15.000 L16.500,15.000 Z"></path>
													</svg>
													<br>
													Rent
												</div>
											</a>
										</div>
								</div>
								<div class="listing-uploading">
										<h3>03. Cars &amp; Bikes</h3>
										<div class="col-md-6 col-xs-12">
											<a asp-action="UPlace" asp-controller="Listing" asp-route-category="Cars_Bike">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="17" class="upload" viewBox="0 0 24 17">
														<path d="M14.145,12.500 C14.575,11.054 15.914,10.000 17.500,10.000 C19.085,10.000 20.425,11.054 20.855,12.500 L22.000,12.500 L22.000,10.000 C22.000,9.685 21.852,9.389 21.600,9.200 L20.000,8.000 L14.000,8.000 C12.343,8.000 11.000,6.657 11.000,5.000 L11.000,2.000 L9.162,2.000 C8.301,2.000 7.537,2.551 7.265,3.367 L6.581,5.419 C6.067,6.960 4.625,8.000 3.000,8.000 C2.448,8.000 2.000,8.448 2.000,9.000 L2.000,12.500 L3.645,12.500 C4.075,11.054 5.414,10.000 7.000,10.000 C8.586,10.000 9.925,11.054 10.355,12.500 L14.145,12.500 ZM14.145,14.500 L10.355,14.500 C9.925,15.946 8.586,17.000 7.000,17.000 C5.414,17.000 4.075,15.946 3.645,14.500 L2.000,14.500 C0.895,14.500 -0.000,13.605 -0.000,12.500 L-0.000,9.000 C-0.000,7.343 1.343,6.000 3.000,6.000 C3.764,6.000 4.442,5.511 4.684,4.786 L5.367,2.735 C5.912,1.102 7.441,-0.000 9.162,-0.000 L14.969,-0.000 C16.604,-0.000 18.075,0.996 18.683,2.514 L19.616,4.847 C19.752,5.188 19.979,5.485 20.273,5.705 L22.800,7.600 C23.555,8.167 24.000,9.056 24.000,10.000 L24.000,12.500 C24.000,13.605 23.105,14.500 22.000,14.500 L20.855,14.500 C20.425,15.946 19.085,17.000 17.500,17.000 C15.914,17.000 14.575,15.946 14.145,14.500 ZM13.000,2.000 L13.000,5.000 C13.000,5.552 13.448,6.000 14.000,6.000 L17.950,6.000 C17.879,5.868 17.815,5.731 17.759,5.590 L16.826,3.257 C16.522,2.498 15.787,2.000 14.969,2.000 L13.000,2.000 ZM17.500,15.000 C18.328,15.000 19.000,14.328 19.000,13.500 C19.000,12.672 18.328,12.000 17.500,12.000 C16.672,12.000 16.000,12.672 16.000,13.500 C16.000,14.328 16.672,15.000 17.500,15.000 ZM7.000,15.000 C7.828,15.000 8.500,14.328 8.500,13.500 C8.500,12.672 7.828,12.000 7.000,12.000 C6.171,12.000 5.500,12.672 5.500,13.500 C5.500,14.328 6.171,15.000 7.000,15.000 Z"></path>
													</svg>
													<br>								
													Sell
												</div>
											</a>
										</div>
										<div class="col-md-6 col-xs-12">
											<a asp-action="UPlace" asp-controller="Listing" asp-route-category="Cars_Bike">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="17" class="upload" viewBox="0 0 24 17">
														<path d="M14.145,12.500 C14.575,11.054 15.914,10.000 17.500,10.000 C19.085,10.000 20.425,11.054 20.855,12.500 L22.000,12.500 L22.000,10.000 C22.000,9.685 21.852,9.389 21.600,9.200 L20.000,8.000 L14.000,8.000 C12.343,8.000 11.000,6.657 11.000,5.000 L11.000,2.000 L9.162,2.000 C8.301,2.000 7.537,2.551 7.265,3.367 L6.581,5.419 C6.067,6.960 4.625,8.000 3.000,8.000 C2.448,8.000 2.000,8.448 2.000,9.000 L2.000,12.500 L3.645,12.500 C4.075,11.054 5.414,10.000 7.000,10.000 C8.586,10.000 9.925,11.054 10.355,12.500 L14.145,12.500 ZM14.145,14.500 L10.355,14.500 C9.925,15.946 8.586,17.000 7.000,17.000 C5.414,17.000 4.075,15.946 3.645,14.500 L2.000,14.500 C0.895,14.500 -0.000,13.605 -0.000,12.500 L-0.000,9.000 C-0.000,7.343 1.343,6.000 3.000,6.000 C3.764,6.000 4.442,5.511 4.684,4.786 L5.367,2.735 C5.912,1.102 7.441,-0.000 9.162,-0.000 L14.969,-0.000 C16.604,-0.000 18.075,0.996 18.683,2.514 L19.616,4.847 C19.752,5.188 19.979,5.485 20.273,5.705 L22.800,7.600 C23.555,8.167 24.000,9.056 24.000,10.000 L24.000,12.500 C24.000,13.605 23.105,14.500 22.000,14.500 L20.855,14.500 C20.425,15.946 19.085,17.000 17.500,17.000 C15.914,17.000 14.575,15.946 14.145,14.500 ZM13.000,2.000 L13.000,5.000 C13.000,5.552 13.448,6.000 14.000,6.000 L17.950,6.000 C17.879,5.868 17.815,5.731 17.759,5.590 L16.826,3.257 C16.522,2.498 15.787,2.000 14.969,2.000 L13.000,2.000 ZM17.500,15.000 C18.328,15.000 19.000,14.328 19.000,13.500 C19.000,12.672 18.328,12.000 17.500,12.000 C16.672,12.000 16.000,12.672 16.000,13.500 C16.000,14.328 16.672,15.000 17.500,15.000 ZM7.000,15.000 C7.828,15.000 8.500,14.328 8.500,13.500 C8.500,12.672 7.828,12.000 7.000,12.000 C6.171,12.000 5.500,12.672 5.500,13.500 C5.500,14.328 6.171,15.000 7.000,15.000 Z"></path>
													</svg>
													<br>
													Rent
												</div>
											</a>
										</div>
									</div>
									<div class="listing-uploading">
										<h3>04. Electronic</h3>
										<div class="col-md-12 col-xs-12">
											<a asp-action="UPlace" asp-controller="Listing" asp-route-category="Electronics">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="16" height="22" class="upload" viewBox="0 0 16 22">
														<path d="M14.000,14.000 L14.000,4.000 C14.000,2.895 13.105,2.000 12.000,2.000 L4.000,2.000 C2.895,2.000 2.000,2.895 2.000,4.000 L2.000,14.000 L14.000,14.000 ZM14.000,16.000 L2.000,16.000 L2.000,18.000 C2.000,19.105 2.895,20.000 4.000,20.000 L12.000,20.000 C13.105,20.000 14.000,19.105 14.000,18.000 L14.000,16.000 ZM4.000,-0.000 L12.000,-0.000 C14.209,-0.000 16.000,1.791 16.000,4.000 L16.000,18.000 C16.000,20.209 14.209,22.000 12.000,22.000 L4.000,22.000 C1.791,22.000 -0.000,20.209 -0.000,18.000 L-0.000,4.000 C-0.000,1.791 1.791,-0.000 4.000,-0.000 ZM8.000,19.500 C7.172,19.500 6.500,18.828 6.500,18.000 C6.500,17.172 7.172,16.500 8.000,16.500 C8.828,16.500 9.500,17.172 9.500,18.000 C9.500,18.828 8.828,19.500 8.000,19.500 Z"></path>
													</svg>
													<br>								
													Sell
												</div>
											</a>
										</div>
										
									</div>
									<div class="listing-uploading">
										<h3>05. Others</h3>
										<div class="col-md-12 col-xs-12 ">
											<a asp-action="UPlace" asp-controller="Listing" asp-route-category="Others">
												<div class="listingbox">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="20" height="20" class="upload" viewBox="0 0 20 20">
														<path d="M4.000,-0.000 L16.000,-0.000 C18.209,-0.000 20.000,1.791 20.000,4.000 L20.000,16.000 C20.000,18.209 18.209,20.000 16.000,20.000 L4.000,20.000 C1.791,20.000 -0.000,18.209 -0.000,16.000 L-0.000,4.000 C-0.000,1.791 1.791,-0.000 4.000,-0.000 ZM4.000,2.000 C2.895,2.000 2.000,2.895 2.000,4.000 L2.000,16.000 C2.000,17.105 2.895,18.000 4.000,18.000 L16.000,18.000 C17.105,18.000 18.000,17.105 18.000,16.000 L18.000,4.000 C18.000,2.895 17.105,2.000 16.000,2.000 L4.000,2.000 ZM5.000,6.500 C4.448,6.500 4.000,6.052 4.000,5.500 C4.000,4.948 4.448,4.500 5.000,4.500 L15.000,4.500 C15.552,4.500 16.000,4.948 16.000,5.500 C16.000,6.052 15.552,6.500 15.000,6.500 L5.000,6.500 ZM5.000,11.000 C4.448,11.000 4.000,10.552 4.000,10.000 C4.000,9.448 4.448,9.000 5.000,9.000 L15.000,9.000 C15.552,9.000 16.000,9.448 16.000,10.000 C16.000,10.552 15.552,11.000 15.000,11.000 L5.000,11.000 ZM5.000,15.500 C4.448,15.500 4.000,15.052 4.000,14.500 C4.000,13.948 4.448,13.500 5.000,13.500 L11.000,13.500 C11.552,13.500 12.000,13.948 12.000,14.500 C12.000,15.052 11.552,15.500 11.000,15.500 L5.000,15.500 Z"></path>
													</svg>
													<br>								
													Sell
												</div>
											</a>
										</div>
										
									</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>